
ci-templates/.DS_Store
ci-templates/load-template.js
ci-templates/template.properties
ci-templates/templates/.DS_Store
ci-templates/templates/authbroker/.DS_Store
ci-templates/templates/authbroker/social_login/.DS_Store
ci-templates/templates/authbroker/social_login/default/.DS_Store
ci-templates/templates/authsvc/basicldapuser_changepassword/default/default/page.html
ci-templates/templates/authsvc/combinedmfa_selection/default/default/page.html
ci-templates/templates/authsvc/macotp_delivery_selection/default/default/page.html
ci-templates/templates/authsvc/macotp_login/default/default/page.html
ci-templates/templates/authsvc/otp_delivery_sms/default/default/page.xml
ci-templates/templates/authsvc/otp_login/default/default/page.html
ci-templates/templates/certmgr/email_certmgr_campaign_change_status_to_owner/default/default/email_certmgr_campaign_change_status_to_owner_body.html
ci-templates/templates/certmgr/email_certmgr_campaignreminder_to_reviewers/default/default/email_certmgr_campaignreminder_to_reviewers_body.html
ci-templates/templates/certmgr/email_certmgr_newcampaign_to_reviewers/default/default/email_certmgr_newcampaign_to_reviewers_body.html
ci-templates/templates/certmgr/email_certmgr_redirection_notification/default/default/email_certmgr_redirection_notification_body.html
ci-templates/templates/reqmgr/email_approver_additional_justification_provided/default/default/email_approver_additional_justification_provided_body.html
ci-templates/templates/reqmgr/email_approver_new_application_requested/default/default/email_approver_new_application_requested_body.html
ci-templates/templates/reqmgr/email_approver_reminder/default/default/email_approver_reminder_body.html
ci-templates/templates/reqmgr/email_requestee_application_approved/default/default/email_requestee_application_approved_body.html
ci-templates/templates/reqmgr/email_requestee_application_rejected/default/default/email_requestee_application_rejected_body.html
ci-templates/templates/reqmgr/email_requestor_application_approved/default/default/email_requestor_application_approved_body.html
ci-templates/templates/reqmgr/email_requestor_application_rejected/default/default/email_requestor_application_rejected_body.html
ci-templates/templates/USC/UserSelfCareEmails/default/cs/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/de/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/default/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/es/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/fr/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/hu/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/it/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/ja/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/ko/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/pl/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/pt_BR/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/ru/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/zh_CN/email_username_recovery.xml
ci-templates/templates/USC/UserSelfCareEmails/default/zh_TW/email_username_recovery.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_forgotten_password.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_invite_registration.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_user_changed.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_user_registration.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_user_registration_complete.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_user_registration_preverify.xml
ci-templates/templates/USC_LEGACY/UserSelfCareLegacyEmails/default/default/email_verify_token.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/cs/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/de/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/default/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/es/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/fr/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/hu/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/it/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ja/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ko/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pl/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/pt_BR/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/ru/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_CN/email_user_mgmt_reset_pwd.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_add_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_delete_tenant_admin.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_group_mgmt_addgroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_group_mgmt_deletegroup.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_group_mgmt_modify_addusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_group_mgmt_modify_removeusers.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_adduser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_change_pwd_not_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_change_pwd_show_password.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_deleteuser.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_modify_profile.xml
ci-templates/templates/USER_MGMT/UserManagementEmails/default/zh_TW/email_user_mgmt_reset_pwd.xml
