<!--Banner-->
<div class="banner blue-bg">
  <div class="container">
    <div class="banner-caption">

    </div>
  </div>
</div>

  <!--Content Area-->
<div class="container">
  <div class="content-area">

    <div class="account-container" style="max-width: 750px">

      <div class="header-content-row dark-gary-bg">
        <div class="icon-box"><img src="/images/account-success.svg"></div>
      </div>
      <div class="account-content">
        <pre><code class="json" style="text-align:left !important;">{{idtoken}}</code></pre>
        <pre><code class="json" style="text-align:left !important;">{{user}}</code></pre>
        <pre><code class="json" style="text-align:left !important;">{{attributes}}</code></pre>
        <a href="/" class="cta-btn">Back to Home</a>
      </div>
    </div>

  </div>
</div>
