OIDC_CI_BASE_URI=https://xxxxxxxx.ice.ibmcloud.com
OIDC_CLIENT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
OIDC_CLIENT_SECRET=XXXXXXXXXX
OIDC_REDIRECT_URI=http://localhost:3000/oauth/callback
API_CLIENT_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX
API_SECRET=XXXXXXXXXX
APP=insurance
MFAGROUP=MFAGroup
ALLOW_DYNAMIC_SETUP=true
