<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>Choose Passengers - TrustMeJet</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    
        <div class="sa_header-wrap">
            <div class="sa_wrapper clearfix">
                <!--logo-->
                    <div class="sa_logo"><a href="airline-home.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
                <!--logo-->
            </div>
        </div>
        
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
			<div class="sa_section-title">
				<h1>Tell us who is travelling</h1>
				<span>Total passengers: 1</span>
			</div>
			
            <form action="airline-booking-success.html" method="post">
            
			<!--section-account-details-->
			<div class="sa_section-account-details">
				
               <!--passengers-row--> 
               <div class="sa_passengers-row">
                    
                   <div class="sa_passengers-col">
                        <h3>Adult 1 (16+) Lead Passenger</h3>
                        <!--input-field-container-->
                            <div class="sa_input-field-container clearfix">
                            	
                                <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">
                                	 <div class="sa_input-fields-col sa_col3">
                                    	<select>
                                        	<option>Title</option>
                                            <option selected>Mr.</option>
                                            <option>Mrs.</option>
                                        </select>
                                    </div>
                                    <div class="sa_input-fields-col sa_col6">
                                    	<input type="text" value="David" onfocus="this.placeholder=''">
                                    </div>
                                    
                                </div>
                                <!--input-fields-row-->
                                
                                 <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">                                	
                                    <div class="sa_input-fields-col">
                                    	<input type="text" value="Tal" onfocus="this.placeholder=''">
                                    </div>
                                    
                                </div>
                                <!--input-fields-row-->
                                
                                
                                <div class="sa_radio-row">
                                	<input type="radio" name="sex" checked value="" id="male" >
                                    <label for="male">Male</label>
                                    <input type="radio" name="sex" value="" id="female" >
                                    <label for="female">Female</label> 
                                </div>
                                
                                <h5>Date of Birth</h5>
                                
                                <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">
                                	 <div class="sa_input-fields-col sa_col3">
                                    	<select>
                                        	<option>Day</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
											<option selected>13</option>
											<option>14</option>
											<option>15</option>
											<option>16</option>
											<option>17</option>
											<option>18</option>
											<option>19</option>
											<option>20</option>
											<option>21</option>
											<option>22</option>
											<option>23</option>
											<option>24</option>
											<option>25</option>
											<option>26</option>
											<option>27</option>
											<option>28</option>
											<option>29</option>
											<option>30</option>
                                        </select>
                                    </div>
                                    <div class="sa_input-fields-col sa_col3">
                                    	<select>
                                        	<option>Month</option>
											<option>1</option>
											<option>2</option>
											<option>3</option>
											<option>4</option>
											<option selected>5</option>
											<option>6</option>
											<option>7</option>
											<option>8</option>
											<option>9</option>
											<option>10</option>
											<option>11</option>
											<option>12</option>
                                        </select>
                                    </div>
                                    <div class="sa_input-fields-col sa_col3">
                                    	<select>
                                        	<option>Year</option>
											<option>1981</option>
											<option>1982</option>
											<option>1983</option>
											<option>1984</option>
											<option selected>1985</option>
											<option>1986</option>
											<option>1987</option>
											<option>1988</option>
											<option>1989</option>
                                        </select>
                                    </div>
                                </div>
                                <!--input-fields-row-->
                                
                                <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">
                                	 <div class="sa_input-fields-col sa_col3">
                                    	<select>
                                        	<option>+971</option>
											<option selected >+972</option>
											<option>+973</option>
											<option>+974</option>
											<option>+975</option>
											<option>+976</option>
											<option>+977</option>
                                        </select>
                                    </div>
                                    <div class="sa_input-fields-col sa_col6">
                                    	<input type="tel" value="56781234" onfocus="this.placeholder=''">
                                    </div>
                                </div>
                                <!--input-fields-row-->
                                
                                 <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">
                                    <div class="sa_input-fields-col">
                                    	<input type="email" value="davidT@gmail.com" onfocus="this.placeholder=''">
                                    </div>
                                </div>
                                <!--input-fields-row-->
                                
                                
                                <!--input-fields-row-->
                                <div class="sa_input-fields-row clearfix">                                	
                                    <div class="sa_input-fields-col">
                                    	<select>
                                        	<option>Frequent flyer programme </option>
                                        </select>
                                    </div>
                                    
                                </div>
                                <!--input-fields-row-->
                                
                                
                                
                                
                            </div>
                        <!--input-field-container-->
                        
                        <p><a href="">Use My Miles</a></p>
                        
                   </div>
                   
                   <div class="sa_passengers-col">
                        <h3>Your Trip Summary</h3>
                        
                       <div class="sa_summary-content">
                       		<h4>Heathrow (London) - Los Angeles (Los Angeles)</h4>
                            <table cellpadding="0" cellspacing="0" width="100%">
                            	
                                <!--summary-content-head-->
                                    <tr class="sa_summary-content-head">
                                        <td style="width:260px" >15:30 LHR</td>
                                        <td class="sa_sep"><img src="../../images/arrow-right.png"></td>
                                        <td>19:50 LAX</td>
                                    </tr>
                                <!--summary-content-head-->
                                
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Thu 14 Mar</td>
                                        <td class="sa_sep"></td>
                                        <td>Thu 14 Mar</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                  <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Terminal A</td>
                                        <td class="sa_sep"></td>
                                        <td>Terminal B</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td> 
                                        	<div class="sa_star-rating"> 
                                            	<img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                            </div>
                                            Economy Basic
                                        </td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Operated by: BigJet</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>2x23kg checked bags included</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                            </table>	
                       </div>
                       
                       <div class="sa_summary-content">
                       		<h4>Heathrow (London) - Los Angeles (Los Angeles)</h4>
                            <table cellpadding="0" cellspacing="0" width="100%">
                            	
                                <!--summary-content-head-->
                                    <tr class="sa_summary-content-head">
                                        <td style="width:260px">15:30 LHR</td>
                                        <td class="sa_sep"><img src="../../images/arrow-right.png"></td>
                                        <td>19:50 LAX</td>
                                    </tr>
                                <!--summary-content-head-->
                                
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Thu 14 Mar</td>
                                        <td class="sa_sep"></td>
                                        <td>Thu 14 Mar</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                  <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Terminal A</td>
                                        <td class="sa_sep"></td>
                                        <td>Terminal B</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td> 
                                        	<div class="sa_star-rating"> 
                                            	<img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                            </div>
                                            Economy Basic
                                        </td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Passengers</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>1 adult</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                            </table>	
                       </div> 
                        
                        
                   </div>
               
               </div>
               <!--passengers-row-->    
                
			</div>
			<!--section-account-details-->
            
            <!--bottom-details-->
            <div class="sa_bottom-details clearfix">
            	
                <div class="sa_bottom-details-main" style="margin-top:15px;">
                
                	<p><img src="../../images/envelope.svg"> <a href="">Share your price quote</a></p>
                    
                </div>
                
                <div class="sa_bottom-details-sidebar">
             	
                    <div class="sa_bottom-details-sidebar-col">
                    	<p>Total price</p>
                        <span class="sa_price">$978.42</span>
                    </div>
                    
                    <div class="sa_bottom-details-sidebar-col">
                    	<p>By submiting <strong>continue I agreee</strong> to fare conditions below</p>
                    	<input type="submit" class="sa_cta-btn sa_small sa_white" id="sensitive_action" value="Agree and Continue">
                    </div>
                    
                	
                	
                </div>
                
            </div>
            <!--bottom-details-->
            
            </form>
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap sa_airline">
        	<div class="sa_wrapper clearfix">
            	by BlueJet Copyright © 2019
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>

    <div class="inline-popup-2">
        	
        <div class="fingerprint_container">
            <div class="fingerprint_wrap">
                <form>
                    <div class="info">
                        <h3>TrustMeJet - $978.42<h3>
                    </div>
                <button class="fingerprint_preview"></button>
                <h2>Verify with your fingerprint</h2>
                
                <button id="touchid_btn" class="touchid_btn">Use Touch ID</button><br>
                <a href="" class="inline-popup-close-2">Not Now</a>
                </form>
            </div>
            
            <div class="bottom-fixed-fingerprint" style="position: absolute; bottom: 20px; background-color: white;right: 20px; left: 20px; padding:20px 0;">
                <button id="fingerprint-touch-button"></button>
            </div>
        </div>
        
    </div>
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../../internal/js/color-shield-error.js"></script>
    <script src="../../../internal/js/transfer-amount-2fa.js"></script>
	<script src="../../../internal/js/fingerprint-to-transfer.js"></script> 
    
</body>
</html>
