<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>Manage Account - TrustMeJet</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
  
        <div class="sa_header-wrap">
              <div class="sa_wrapper clearfix">
                <!--logo-->
                    <div class="sa_logo"><a href="airline-home-logged.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
                <!--logo-->
             </div>
        </div>
   
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
			<div class="sa_section-title">
				<h1>Account Details</h1>
				<span>David Tal</span>
			</div>
			
			<!--section-account-details-->
			<div class="sa_section-account-details">
				
				<form action="#" method="post">
					<div class="sa_input-container">
						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>PERSONAL INFORMATION</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>User Name</label>
								<input type="text" placeholder="" value="David Tal" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Email</label>
								<input type="email" placeholder="" value="davidT@gmail.com" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>First Name</label>
								<input type="text" placeholder="" value="David" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Last Name</label>
								<input type="text" placeholder="" value="Tal" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Phone</label>
								<input type="tel" placeholder="" value="+972-56781234" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

						</div>

						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>GENERAL</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Address</label>
								<input type="text" placeholder="" value="Coldfields 3874, 36Gg" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>City</label>
								<input type="text" placeholder="" value="New York" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>State</label>
								<input type="text" placeholder="" value="NY" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Country</label>
								<input type="text" placeholder="" value="USA" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

						</div>

						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>PAYMENT DETAILS</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Credit Card Type</label>
								<input type="text" placeholder="" value="Visa" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Credit Card Number</label>
								<input type="text" placeholder="" value="****6781" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>
						</div>
					</div>
					
					<input type="submit" class="sa_cta-btn sa_border sa_odd sa_full" value="New Password">
                
                </form>
				
				<!--Membership and Miledge-->
				<div class="sa_membership-and-miledge">
					<h5>Membership and Miledge</h5>

					<div class="sa_membership-section">
						<div class="sa_membership-box sa_blue">
							<div class="sa_membership-box-head">
								<img src="../../images/plane-blue.svg" alt="">
								<h2>Blue</h2>
								<span>Attained straight away when you join.</span>
							</div>

							<div class="sa_membership-box-body">
								<ul>
									<li>- Collect Avios</li>
									<li>- Collect tier Points</li>
									<li>- Save details and preferences</li>
									<li>- Members only offers</li>
								</ul>
							</div>

							<div class="sa_membership-box-footer">
								
							</div>
						</div>
						
						<div class="sa_membership-box sa_bronze">
							<div class="sa_special-tag"><span>Selected</span></div>
							<div class="sa_membership-box-head">
								<img src="../../images/plane-brown.svg" alt="">
								<h2>Bronze</h2>
								<span>Attained straight away when you join.</span>
							</div>

							<div class="sa_membership-box-body">
								<ul>
									<li>- Collect Avios</li>
									<li>- Collect tier Points</li>
									<li>- Save details and preferences</li>
									<li>- Members only offers</li>
									<li>- Priority Check In</li>
									<li>- Free Seat selection</li>
								</ul>
								<div class="sa_badge-box">
									<img src="../../images/badge-brown.svg" alt="">
									<span>12,544 <br> Miles in your program</span>
								</div>
							</div>

							<div class="sa_membership-box-footer">
								
								<a href="#">Transfer my points</a>
							</div>
						</div>
						
						<div class="sa_membership-box sa_silver">
							<div class="sa_membership-box-head">
								<img src="../../images/plane-silver.svg" alt="">
								<h2>Silver</h2>
								<span>Attained straight away when you join.</span>
							</div>

							<div class="sa_membership-box-body">
								<ul>
									<li>- Collect Avios</li>
									<li>- Collect tier Points</li>
									<li>- Save details and preferences</li>
									<li>- Members only offers</li>
									<li>- Priority Check In</li>
									<li>- Free Seat selection</li>
									<li>- Access to Business Lounge</li>
								</ul>
							</div>

							<div class="sa_membership-box-footer">
								<a href="#" class="sa_cta-btn sa_odd sa_full">Upgrade</a>
							</div>
						</div>
						
						<div class="sa_membership-box sa_gold">
							<div class="sa_membership-box-head">
								<img src="../../images/plane-gold.svg" alt="">
								<h2>Gold</h2>
								<span>Attained straight away when you join.</span>
							</div>

							<div class="sa_membership-box-body">
								<ul>
									<li>- Collect Avios</li>
									<li>- Collect tier Points</li>
									<li>- Save details and preferences</li>
									<li>- Members only offers</li>
									<li>- Priority Check In</li>
									<li>- Free Seat selection</li>
									<li>- Access to Business Lounge</li>
									<li>- Additional rewart flight available</li>
								</ul>
							</div>

							<div class="sa_membership-box-footer">
								<a href="#" class="sa_cta-btn sa_odd sa_full">Upgrade</a>
							</div>
						</div>
						
					</div>
				</div>
				<!--Membership and Miledge-->
			</div>
			<!--section-account-details-->
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap sa_airline">
        	<div class="sa_wrapper clearfix">
            	by BlueJet Copyright © 2019
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../js/init.js"></script>
	<script src="../../../internal/js/color-shield-error.js"></script>
    
</body>
</html>
