<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>Search Flights - TrustMeJet</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">



	<!--header-wrap-->
    
    <div class="sa_header-wrap">
    		
          <div class="sa_wrapper clearfix">
        
            <!--logo-->
        		<div class="sa_logo"><a href="airline-home.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
            <!--logo-->
            
             <!--mobile-nav-->
            	<div class="sa_mobile-nav">
                	<span></span>
                    <span></span>
                    <span></span>
                </div>
            <!--mobile-nav-->
            
            <div class="sa_header-main">
            
            <div class="sa_header-right">
            	<div class="sa_header-search">
            		<form>
						<div class="sa_search-input"><img src="../../images/field-icon-plane.svg"><input type="text" placeholder="LON"></div>
						<div class="sa_search-input"><img src="../../images/field-icon-plane.svg"><input type="text" placeholder="LAX"></div>
						<div class="sa_search-input" name="class">
							<img src="../../images/field-icon-class.svg">
							<select>
								<option value="eco" selected>Economy Class</option>
								<option value="busi">Business Class</option>
								<option value="busi">First Class</option>
							</select>
						</div>
						<div class="sa_search-input" name="passangers">
							<img src="../../images/field-icon-pass.svg">
							<select>
								<option value="1">1 Passangers</option>
								<option value="2">2 Passangers</option>
								<option value="3">3 Passangers</option>
								<option value="4">4 Passangers</option>
								<option selected>5 Passangers</option>
							</select>
						</div>
						
						<input type="button" value="Search">
            		</form>
            	</div>
            	
            </div>
            
            </div>
            
            </div>
            
        </div>
    
    
    
    	
    
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
			<div class="sa_section-title">
			
				<div class="sa_select-date">
					<select>
						<option value="eco" selected>Tuesday 9th of March</option>
						<option value="busi">Tuesday 9th of March</option>
						<option value="busi">Tuesday 9th of March</option>
					</select>
					<span>1 of 4</span>
				</div>
				
				<h1>Outbound</h1>
				<span>Choose your flight from London</span>
				
				
			</div>
			
			<!--section-account-details-->
			<div class="sa_section-account-details sa_search-flight-section">
				<h4>Heathrew (London) LHR departures</h4>
				<div class="sa_flight-search-wrap">
					<div class="sa_search-flight-row">
						<div class="sa_search-flight-left">
							<div class="sa_flight-timings">15:30 LHR   <img width="30" src="../../images/arrow-right.png">  19:50 LAX</div>
							<div class="sa_flight-name"><img src="../../images/field-icon-plane.svg"> BigJet</div>
							<div class="sa_flight-duration">Non Stop 11h 20m</div>
						</div>
						<div class="sa_search-flight-right">
							<div class="sa_flight-price"><a href="airline-review-flights.html">$ 457</a></div>
						<div class="sa_flight-details"><a href="#">Flight Details</a></div>
						</div>
					</div>
					<div class="sa_search-flight-row">
						<div class="sa_search-flight-left">
							<div class="sa_flight-timings">17:30 LHR   <img width="30" src="../../images/arrow-right.png">    21:50 LAX</div>
							<div class="sa_flight-name"><img src="../../images/field-icon-plane.svg"> BigJet</div>
							<div class="sa_flight-duration">Non Stop 13h 20m</div>
						</div>
						<div class="sa_search-flight-right">
							<div class="sa_flight-price"><a href="airline-review-flights.html">$ 563</a></div>
						<div class="sa_flight-details"><a href="#">Flight Details</a></div>
						</div>
					</div>
					<div class="sa_search-flight-row">
						<div class="sa_search-flight-left">
							<div class="sa_flight-timings">23:30 LHR   <img width="30" src="../../images/arrow-right.png">    1:50 LAX</div>
							<div class="sa_flight-name"><img src="../../images/field-icon-plane.svg"> BigJet</div>
							<div class="sa_flight-duration">Non Stop 15h 20m</div>
						</div>
						<div class="sa_search-flight-right">
							<div class="sa_flight-price"><a href="airline-review-flights.html">$ 577</a></div>
						<div class="sa_flight-details"><a href="#">Flight Details</a></div>
						</div>
					</div>
					<div class="sa_search-flight-row">
						<div class="sa_search-flight-left">
							<div class="sa_flight-timings">3:30 LHR   <img width="30" src="../../images/arrow-right.png">    5:50 LAX</div>
							<div class="sa_flight-name"><img src="../../images/field-icon-plane.svg"> BigJet</div>
							<div class="sa_flight-duration">Non Stop 17h 20m</div>
						</div>
						<div class="sa_search-flight-right">
							<div class="sa_flight-price"><a href="airline-review-flights.html">$ 605</a></div>
						<div class="sa_flight-details"><a href="#">Flight Details</a></div>
						</div>
					</div>
				</div>
				<div class="sa_pager">
					<ul>
						<li class="sa_active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li>...</li>
						<li><a href="#">17</a></li>
						<li><a href="#"><img src="../../images/right-arrow.svg"></a></li>
					</ul>
				</div>
			</div>
			<!--section-account-details-->
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap sa_airline">
        	<div class="wrapper clearfix">
            	by BlueJet Copyright © 2019
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../js/init.js"></script>
	<script src="../../../internal/js/color-shield-error.js"></script>
    
</body>
</html>
