<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>TrustMeJet</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
   
    	<div class="sa_header-wrap">
        
        	 <div class="sa_wrapper clearfix">
            
                <!--logo-->
                    <div class="sa_logo"><a href="airline-home.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
                <!--logo-->
                
                <!--mobile-nav-->
            	<div class="sa_mobile-nav">
                	<span></span>
                    <span></span>
                    <span></span>
                </div>
            <!--mobile-nav-->
            
            <div class="sa_header-main">
                
                <!--Main Menu-->
                <div class="sa_header-right">
                    <div class="sa_header-nav">
                        <ul>
                            <li><a href="#">Discover</a></li>
                            <li><a href="#">Book</a></li>
                            <li><a href="#">Manage</a></li>
                            <li><h2 class="user-welcome">Welcome, David Tal</h2></li>
                            <li><a href="airline-manage-account.html"><img class="account-image" src="../../images/account.png"></a></li>
                        </ul>
                    </div>
                    
                    <div class="sa_user-login">
                        <form action="" method="post">
                            <div style="display:none;">
                                <input type="text" placeholder="Username">
                                <input type="password" placeholder="Password">
                                <small><a href="#">Forgot Password?</a></small>
                            </div>
                           

                           
                        </form>
                    </div>
                </div>
                
                </div>
                
        	</div>
    </div>
    <!--header-wrap-->
    
	<!--Hero Section-->
    <div class="sa_hero-section">
    	<div class="sa_wrapper">
    		<h2>Fly Away With Me<br>Choose Your Flight.</h2>
    		<div class="sa_search-type">
    			<ul>
    				<li class="sa_selected"><a href="#"><img src="../../images/type-icon1.svg"> Flight</a></li>
    				<li><a href="#"><img src="../../images/type-icon2.svg"> Flight+Hotel</a></li>
    				<li><a href="#"><img src="../../images/type-icon3.svg"> Flight+Car</a></li>
    			</ul>
    			<div class="sa_search-type-box">
    				<form action="airline-search-flight.html" method="post">
    					<div class="sa_form-column sa_first-col sa_large-col">
    						<div class="sa_search-input"><img src="../../images/field-icon-plane.svg"><input type="text" placeholder="From"></div>
    						<div class="sa_search-input"><img src="../../images/field-icon-plane.svg"><input type="text" placeholder="To"></div>
    					</div>
    					<div class="sa_form-column sa_middle-col">
    						<div class="sa_search-date">
    							<span>Departure</span>
    							<big>09</big>
    							<span>Departure</span>
    						</div>
    					</div>
    					<div class="sa_form-column sa_middle-col">
    						<div class="sa_search-date">
    							<span>Round Trip</span>
    							<big>+</big>
    						</div>
    					</div>
    					<div class="sa_form-column sa_last-col sa_large-col">
    						<div class="sa_search-input" name="passangers">
    							<img src="../../images/field-icon-pass.svg">
    							<select>
    								<option selected>1 Passenger</option>
    								<option value="2">2 Passengers</option>
    								<option value="3">3 Passengers</option>
    								<option value="4">4 Passengers</option>
    								<option value="5">5 Passengers</option>
    							</select>
    						</div>
    						<div class="sa_search-input" name="class">
    							<img src="../../images/field-icon-class.svg">
    							<select>
    								<option value="eco" selected>Economy Class</option>
    								<option value="busi">Business Class</option>
    								<option value="busi">First Class</option>
    							</select>
    						</div>
    					</div>
    					<div class="sa_form-column"><button type="submit"><img src="../../images/search.svg"></button></div>
    				</form>
    			</div>
    		</div>
    	</div>
    </div>
    
    
    <!--Services-->
    
    	<div class="sa_wrapper">
    		<div class="sa_three-column-row">
    			<h2>BigJet Airlines</h2>
    			<div class="sa_column-one">
    				<img src="../../images/icon1.svg">
    				<h3>Manage My Booking</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus turpis at consectetur imperdiet. </p>
    				<a href="#">Learn More</a>
    			</div>
    			<div class="sa_column-one">
    				<img src="../../images/icon2.svg">
    				<h3>Check In</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus turpis at consectetur imperdiet. </p>
    				<a href="#">Learn More</a>
    			</div>
    			<div class="sa_column-one">
    				<img src="../../images/icon3.svg">
    				<h3>Check Flight Status</h3>
    				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam luctus turpis at consectetur imperdiet. </p>
    				<a href="#">Learn More</a>
    			</div>
			</div>
		</div>
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap sa_airline">
        	<div class="sa_wrapper clearfix">
            	by BlueJet Copyright © 2019
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../js/init.js"></script>
	<script src="../../../internal/js/color-shield-error.js"></script>
    
</body>
</html>
