<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>Review Flight - TrustMeJet</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    
        <div class="sa_header-wrap">
            <div class="sa_wrapper clearfix">
                <!--logo-->
                    <div class="sa_logo"><a href="airline-home.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
                <!--logo-->
             </div>
        </div>
        
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
            <div class="sa_section-title-content clearfix">
                <div class="sa_section-title">
                    <h1>Review Your flights</h1>
                    <span>Please confirm</span>
                </div>
                
                <a href="airline-search-flight.html" class="sa_cta-btn sa_border sa_small">Change Flights</a>
            </div>
			
            <form action="airline-passengers.html" method="post" id="airline-review-form">
            
			<!--section-account-details-->
			<div class="sa_section-account-details">
				
               <!--passengers-row--> 
               <div class="sa_passengers-row">
                    
                   <div class="sa_passengers-col">
                        <h3>Outbound</h3>
                        
                        <div class="sa_summary-content">
                       		
                            <table cellpadding="0" cellspacing="0">
                            	
                                <!--summary-content-head-->
                                    <tr class="sa_summary-content-head">
                                        <td>15:30 LHR</td>
                                        <td class="sa_sep"><img src="../../images/arrow-right.png"></td>
                                        <td>19:50 LAX</td>
                                    </tr>
                                <!--summary-content-head-->
                                
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Thu 14 Mar</td>
                                        <td class="sa_sep"></td>
                                        <td>Thu 14 Mar</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                  <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Terminal A</td>
                                        <td class="sa_sep"></td>
                                        <td>Terminal B</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td> 
                                        	<div class="sa_star-rating"> 
                                            	<img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                            </div>
                                            Economy Basic
                                        </td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Operated by: BigJet</td>
                                        <td class="sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>2x23kg checked bags included</td>
                                        <td class="sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td><a href="">Flight Details</a></td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                            </table>	
                       </div>
                        
                   </div>
                   
                   <div class="sa_passengers-col">
                        <h3>Return</h3>
                        
                       <div class="sa_summary-content">
                       		
                            <table cellpadding="0" cellspacing="0">
                            	
                                <!--summary-content-head-->
                                    <tr class="sa_summary-content-head">
                                        <td>7:30 LAX</td>
                                        <td class="sa_sep"><img src="../../images/arrow-right.png"></td>
                                        <td>13:50 LHR</td>
                                    </tr>
                                <!--summary-content-head-->
                                
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Sat 16 Mar</td>
                                        <td class="sa_sep"></td>
                                        <td>Sat 16 Mar</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                  <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Terminal A</td>
                                        <td class="sa_sep"></td>
                                        <td>Terminal B</td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td> 
                                        	<div class="sa_star-rating"> 
                                            	<img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                                <img src="../../images/star.jpg">
                                            </div>
                                            Economy Basic
                                        </td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>Operated by: BigJet</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 <!--summary-content-row-->
                                	<tr class="sa_summary-content-row">
                                    	<td>2x23kg checked bags included</td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                  <!--summary-content-row-->
                                	<tr class="sa_summary-content-row sa_spacer">
                                    	<td><a href="">Flight Details</a></td>
                                        <td class="sa_sep"></td>
                                        <td></td>
                                    </tr>
                                 <!--summary-content-row-->
                                 
                                 
                                 
                            </table>	
                       </div>
                        
                        
                   </div>
               
               </div>
               <!--passengers-row-->    
                
			</div>
			<!--section-account-details-->
            
            <!--bottom-details-->
            <div class="sa_bottom-details clearfix">
            	
                <div class="sa_bottom-details-main" style="margin-top:15px;">
                
                	<p><img src="../../images/envelope.svg"> <a href="">Share your price quote</a></p>
                    
                </div>
                
                <div class="sa_bottom-details-sidebar">
             	
                    <div class="sa_bottom-details-sidebar-col">
                    	<p>Total price</p>
                        <span class="sa_price">$978.42</span>
                    </div>
                    
                    <div class="sa_bottom-details-sidebar-col">
                    	<p>By submiting <strong>continue I agreee</strong> to fare conditions below</p>
                    	<input type="submit" class="sa_cta-btn sa_small sa_white" value="Agree and Continue">
                    </div>
                    
                	
                	
                </div>
                
            </div>
            <!--bottom-details-->
            
            </form>
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap sa_airline">
        	<div class="sa_wrapper clearfix">
            	by BlueJet Copyright © 2019
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../../internal/js/color-shield-error.js"></script>
    <script src="../../../internal/js/airline-review-block.js"></script>
    
</body>
</html>
