<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<title>Login - TrustMeJet</title>

</head>

<body class="sa_body">

<div class="sa_outer-container">

	<!--outer-wrap-->
	<div class="sa_outer-wrap">
    	<div class="sa_login-container">

            <form action="airline-home-logged.html" method="post">

                <!--logo-->
                    <div class="sa_logo"><a href="airline-home.html"><img src="../../images/airline-logo.svg" alt=""></a></div>
                <!--logo-->

                <h1>Welcome to <br> TrustMeJet</h1>

                <div class="sa_formRow">
                    <label>Email</label>
                    <input type="email" placeholder="Email" onfocus="this.placeholder = ''">
                    <div class="sa_inputLine"></div>
                </div>

                <div class="sa_formRow">
                    <label>Password</label>
                    <input type="password" placeholder="Password" onfocus="this.placeholder = ''">
                    <div class="sa_show-password"></div>
                    <div class="sa_inputLine"></div>
                </div>

                <div class="sa_formRow-container clearfix">

                    <div class="sa_formRow-col"> <input type="checkbox" checked value="" id="rememberme" > <label for="rememberme">Remember me</label> </div>
                    <div class="sa_formRow-col"> <a href="">Forgot Password?</a> </div>

                </div>

                <div class="sa_formRow_bottom">
                	<button type="submit">Login</button>
                    New to TrustMeJet?  <a href="airline-new-account.html" class="sa_link">Open an Account</a>
                </div>


           </form>

        </div>
    </div>
	<!--outer-wrap-->

    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>

</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>

</body>
</html>
