<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Setup</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#7a6f6f">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/social.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/overrides.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
</head>

<body class="sa_body gary-bg">
  <div class="overlay-background">

    <div class="overlay-content login-wrap">

      <div class="overlay-logo">
        <img src="/images/ibm_security_black.png">
      </div>

      <!-- if prompt is present then assume the setup must be run --> 
      {{#if prompt}}
      <h1>Initial Setup</h1>
      <form action="/setup" method="post">
        <p>Click "Run Setup" button to perform automated setup of your Verify Tenant.</p>
        <p>Parameters for setup are read from .env file.</p>
        <p>Application Client ID and secret are written back to .env file.</p>
        {{#if error}}
          <div class="bb-alert bb-warning">
            <span class="bb-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {{errorMessage}}
          </div>
        {{/if}}
        <div class="formRow-bottom clearfix">
          <div class="clear"></div>
          <input class="input-cta" type="submit" value="Run Setup">
          <div class="clear"></div>
        </div>
      </form>
      {{/if}}

      {{#if success}}
      <h1>Initial setup completed.</h1>
      <p>The app has been successfully setup for your Verify tenant.</p>
      <p>Click "Go to Home" to start using the app.</p>
      <div class="formRow-bottom clearfix" style="text-align:center">
      <div class="clear"></div>
      <a href="/" class="cta-btn">Go to Home</a>
      <div class="clear"></div>
      </div>
      {{/if}}
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
  <script src="/javascripts/init.js"></script>
</body>

</html>
