<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>TrustMeBank</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="../../fonts/fonts.css" rel="stylesheet" type="text/css">
<link href="../../style.css" rel="stylesheet" type="text/css">
</head>

<body>

	<!--Top Menu-->
	<div class="topMenu">
		<div class="container">
			<ul class="clearfix">
				 <li><a href="#">Personal</a></li>
			     <li><a href="#">Small Business</a></li>
			     <li><a href="#">Wealth Management</a></li>
			     <li><a href="#">Businesses & Institutes</a></li>
			</ul>
		</div>
	</div>

	<!--Header-->
	<div class="header clearfix">
		<div class="container">
			<div class="logo"><a href="home.html"><img src="../../images/logo.svg"></a></div>
            <div class="hamburger-menu">
            	<span></span>
                <span></span>
                <span></span>
            </div>
			<div class="header-right">
				<a href="#" class="contact-btn">Contact Us</a>
				<a href="open-new-account.html" class="open-btn" id="open-new-account-btn">Open an Account</a>
				<a href="login.html" class="login-btn" id="login-btn">Login</a>
			</div>

			<div class="main-menu">
				<ul class="clearfix">
					 <li><a href="#">Bank Account</a></li>
					 <li><a href="#">Saving</a></li>
					 <li><a href="#">Transfer Money</a></li>
					 <li><a href="#">Credit Cards</a></li>
					 <li><a href="#">Loans</a></li>
					 <li><a href="#">Investments</a></li>
					 <li class="menu-cta account"><a href="open-new-account.html" id="inner-open-btn">Open an Account</a></li>
                     <li class="menu-cta login"><a href="login.html" id="inner-login-btn">Login</a></li>
					 <li><a href="#">More</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!--Banner-->
	<div class="banner">
		<div class="container">
			<div class="banner-caption">
				<h1>Being in Control of Your Finances</h1>
				<p>Financial advice that gives you the armour to protect what’s yours.</p>
				<a href="#">Our Services</a>
			</div>
		</div>
	</div>

	<!--Content Area-->
	<div class="container">
		<div class="content-area">
			<h1>Our Services</h1>
			<div class="column-wrap clearfix">
				<div class="col-3">
					<div class="column-item">
						<img src="../../images/icon_1.svg">
						<h2>Sales & Trading</h2>
						<p>Collaboratively administrate empowered markets via plug and play networks.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="../../images/icon_2.svg">
						<h2>Financial Advisors</h2>
						<p>Collaboratively administrate empowered markets via plug and play networks.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="../../images/icon_3.svg">
						<h2>Investment Planning</h2>
						<p>Collaboratively administrate empowered markets via plug and play networks.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="../../images/icon_4.svg">
						<h2>Tax Consulting</h2>
						<p>Collaboratively administrate empowered markets via plug and play networks.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--Footer-->
	<div class="footer">
		<div class="container">
			TrustMeInsurance is a demonstration application with no affiliation to any existing organization. This application is for demonstration purposes only.
		</div>
	</div>

	<!--Popup-->
	<div class="popup">
		<div class="popup-title clearfix">
			<img rel="pop-logo" src="../../images/logo-white.svg"> <div class="separator"></div>
			<span>Security Online</span>
			<a href="#" class="close-popup"></a>
		</div>
		<div class="popup-container">
			<div class="callout">
				<img src="../../images/banker.png">
				<h3>David Tate</h3>
				<span class="subtitle">Cyber Security Advisor</span>
				<div class="bubble arrow_box">FinanceBank would like to ensure your safe online actions, therefore we join forces with IBM security to protect you from malicious online fraud.</div>
				<a href="#" class="large-btn"><span>Get Protected Now!</span></a>
				<p>By clicking this button you agree to <a href="#">terms and conditions</a></p>
			</div>
			<div class="video-container">
				Learn more about how we <strong>protect</strong> you from this video
				<div class="video-player">
					<img src="../../images/ibm_security.png">
					<a href="#"><img src="../../images/play.png"></a>
				</div>
			</div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
	<script src="../../js/init.js"></script>
	<script src="../../../internal/js/mute-login-btn.js"></script>

</body>
</html>
