<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Open A New Account - TrustMeBank</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="../../favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../../favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../../favicon/favicon-16x16.png">
<link rel="manifest" href="../../favicon/site.webmanifest">
<link rel="mask-icon" href="../../favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="../../favicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="../../favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="../../fonts/fonts.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.4/dist/jquery.fancybox.min.css" />
<link href="../../style.css" rel="stylesheet" type="text/css">
</head>

<body>
	
	<!--Top Menu-->
	<div class="topMenu">
		<div class="container">
			<ul class="clearfix">
				 <li><a href="#">Personal</a></li>
			     <li><a href="#">Small Business</a></li>
			     <li><a href="#">Wealth Management</a></li>
			     <li><a href="#">Businesses & Institutes</a></li>
			</ul>
		</div>
	</div>
	
	<!--Header-->
	<div class="header clearfix">
		<div class="container">
			<div class="logo"><a href="home.html"><img src="../../images/logo.svg"></a></div>
            <div class="hamburger-menu">
            	<span></span>
                <span></span>
                <span></span>
            </div>
			<div class="header-right">
				<a href="#" class="contact-btn">Contact Us</a>
				<a href="open-new-account.html" class="open-btn" id="open-new-account-btn">Open an Account</a>
				<a href="login.html" class="login-btn" id="login-btn">Login</a>
			</div>
            
			<div class="main-menu">
				<ul class="clearfix">
					 <li><a href="#">Bank Account</a></li>
					 <li><a href="#">Saving</a></li>
					 <li><a href="#">Transfer Money</a></li>
					 <li><a href="#">Credit Cards</a></li>
					 <li><a href="#">Loans</a></li>
					 <li><a href="#">Investments</a></li>
					 <li class="menu-cta account"><a href="open-new-account.html" id="inner-open-btn">Open an Account</a></li>
                     <li class="menu-cta login"><a href="login.html" id="inner-login-btn">Login</a></li>
					 <li><a href="#">More</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<!--Banner-->
	<div class="banner blue-bg">
		<div class="container">
			<div class="banner-caption">
				<h1>Open a New Account</h1>
				<p>Welcome. Apply in just minutes.</p>
			</div>
		</div>
	</div>
	
    <!--Content Area-->
	<div class="container">
		<div class="content-area">

			<form action="new-account-success.html" method="post">
				<div class="input-list clear">
					<div class="input-list-box">
						<div class="formRow">
							<label>User Name</label>
							<input type="text" placeholder="User Name" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Email</label>
							<input type="email" placeholder="Email" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Password</label>
							<input type="password" placeholder="Password" onFocus="this.placeholder = ''">
                            <div class="show-password"></div>
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Repeat Password</label>
							<input type="password" placeholder="Repeat Password" onFocus="this.placeholder = ''">
                            <div class="show-password"></div>
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>First Name</label>
							<input type="text" placeholder="First Name" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Last Name</label>
							<input type="text" placeholder="Last Name" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Phone</label>
							<input type="tel" placeholder="Phone" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Address</label>
							<input type="text" placeholder="Address" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>City</label>
							<input type="text" placeholder="City" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>State</label>
							<select>
								<option>State</option>
								<option>State</option>
								<option>State</option>
							</select>
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>National ID</label>
							<input type="text" placeholder="National ID" onFocus="this.placeholder = ''">
							<div class="inputLine"></div>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow">
							<label>Country</label>
							<select>
								<option>Country</option>
								<option>Country</option>
								<option>Country</option>
							</select>
							<div class="inputLine"></div>
						</div>
					</div>
                    
                    <div class="input-list-box auto">
						<div class="checkRow">
                        <input type="checkbox" id="agree">
                        <label for="agree">I agree to the <a class="link" data-fancybox data-src="#fancy-popup" href="javascript:;">Terms of Use</a></label>
						</div>
					</div>
					
					<div class="input-list-box">
						<div class="formRow-bottom clearfix">
							<input class="input-cta" type="submit" value="Create an Account">
						</div>
					</div>
				</div>

			</form>

		</div>
	</div>
    
    <a href="../security-assessment.html" class="shield" style="" id="Shield">
    	<img src="../../images/shield.png">
    </a>
    
    <div style="display: none;" class="fancy-popup" id="fancy-popup">
    	<div class="popup-title">
    		<h2>Terms of Use</h2>
        </div>
        <ol>
        	<li>I confirm, for the purposes of this Demo, I will not use as username and password any characters/figures/symbols that form any corporate or personal accounts credentials but rather I will use 
            fictitious ones.</li>
            <li>I confirm that my use of this Demo is voluntary, at my discretion and I will use it for promoting IBM brand and products as part of working for IBM.</li>
            <li>I agree that IBM will use the information created by my use of this Demo (typed and behavioral) for its business and research objectives.</li>
            <li>I agree that IBM is allowed to preserve such information in a cloud environment and to freely transfer such information across borders.</li>
            <li>The said information generated in this Demo will not be preserved for more than 90 days.</li>
        </ol>
	</div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>    
	<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.4/dist/jquery.fancybox.min.js"></script>

	<script src="../../js/init.js"></script>
	<script src="../../../internal/js/open-new-account.js"></script>
	<script src="../../../internal/js/mute-login-btn.js"></script>
</body>
</html>
