	<!--Banner-->
	<div class="banner blue-bg">
		<div class="container">
			<div class="banner-caption">
				<h1>My Account</h1>
				<a style="padding:15px 35px 15px 5px !important;" href="/app/profile">View profile</a>
			</div>
		</div>
	</div>
    <!--Content Area-->
	<div class="container">
		<div class="content_wrap">

			<div class="row">

				<div class="col-6">
					<div class="col-content" style="border:0; margin-bottom:60px;">

						<div class="col-content-head green clearfix">
							<h2 class="fl">Your Policies</h2>
							<div class="fr right-box">USD 5,220.50 / year</div>
						</div>

						<div class="col-content-main">

							<table>
								<tr>
									<td><strong>Homeowners</strong></td>
									<td></td>
									<td></td>
								</tr>

								<tr>
									<td>9402 Hickory Ln</td>
									<td>1/3/20 - 1/3/21</td>
									<td>USD 3,420.50 / year</td>
								</tr>
								<tr>
									<td><strong>Auto</strong></td>
									<td></td>
									<td></td>
								</tr>

								<tr>
									<td>Toyota 4Runner</td>
									<td>2/1/20 - 8/1/20</td>
									<td>USD 1,800.00 / year</td>
								</tr>
							</table>

						</div>
						<div class="col-content-main-bottom">
							<a class="cta-btn" href="#">Policy Details</a>
						</div>
					</div>
				</div>
				<div class="col-6">
					<div class="col-content" style="border:0; margin-bottom:60px;">
						<div class="col-content-head clearfix">
							<h2 class="fl">Claims</h2>
						</div>
						<div class="col-content-main no-padding claim-block">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td>Toyota 4Runner</td>
									<td><div class="circle-green"></div></td>
									<td style="text-align: center">4/14/2019</td>
									<td>USD 1,230.12</td>
								</tr>

								<tr>
									<td>9402 Hickory Ln</td>
									<td><div class="circle-yellow"></div></td>
									<td style="text-align: center">5/29/2019</td>
									<td>USD 12,780.72</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div style="clear:both;"></div>
				<div class="col-6">
					<div class="col-content" style="border:0; margin-bottom:60px;">
						<div class="col-content-head clearfix">
							<h2 class="fl">Beneficiaries</h2>
							<div class="fr right-box"></div>
						</div>
						<div class="col-content-main beneficiaries-block">
							<table class="puller">

								<tr>
									<td><span>Son</span><h3>David Tal</h3></td>
								</tr>

								<tr>
									<td class="border" ></td>
								</tr>

								<tr>
									<td><span>Son</span><h3>Jerry Tal</h3></td>
								</tr>

								<tr>
									<td class="border" ></td>
								</tr>

								<tr>
									<td><span>Daughter</span><h3>Jenny Tal</h3></td>
								</tr>


							</table>

						</div>

						<div class="col-content-main-bottom">
							<a class="cta-btn" id="sensitive_action" href="/app/manage-beneficiaries">Edit Beneficiaries</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
	<script src="/javascripts/init.js"></script>
</body>
</html>
