<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{pageTitle}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#7a6f6f">
  <link rel="shortcut icon" href="/f8avicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/social.css" rel="stylesheet" type="text/css">
  <link href="/stylesheets/overrides.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
  <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
</head>
<body class="insurance-page gary-bg">
  <div class="overlay-background">
    <div class="overlay-content login-wrap">
      <div class="overlay-logo">
        <a href="/"><img src="/images/insurance_logo.svg"></a>
      </div>
      <h1>Two-factor enrollment</h1>
      <form action="{{action}}" method="post">
        <p>Enter the phone number you wish to add for security purposes.</p>
        {{#if error}}
        <div class="bb-alert bb-warning">
         <span class="bb-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
         {{errorMessage}}
        </div>
        {{/if}}
        <div class="formRow">
          <label>Phone number</label>
          <input type="tel" name="phone" placeholder="Phone number" pattern="[0-9]{0,14}" onFocus="this.placeholder = ''">
          <div class="inputLine"></div>
          <p style="font-size: 12px">Format: 15554567890 <br>(Include country code, max 14 numbers, no dashs or parenthesis needed)</p>
        </div>
        <div class="formRow-bottom clearfix">
          <div class="clear"></div>
          <input class="input-cta" type="submit" value="Enroll">
          <div class="clear"></div>
          <p><a href="/app/profile" class="blue" id="open-new-account-link">⬅︎ Return home</a></p>
          <p>New to TrustMeInsurance? <a href="/open-account" class="blue" id="open-new-account-link">Open an Account</a></p>
        </div>
      </form>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
  <script src="/javascripts/init.js"></script>
  <!--Footer-->
  <div class="footer">
    <div class="container">
      TrustMeInsurance is a demonstration application with no affiliation to any existing organization. This application is for demonstration purposes only.
    </div>
  </div>
</body>
</html>
