	<!--Banner-->
	<div class="banner insurance-banner">
		<div class="container">
			<div class="banner-caption align-left">
				<h1>Being in Control of Your Insurance</h1>
				<p>Financial advice that gives you the armour to protect what’s yours.</p>
			</div>
            <div class="banner_form">
            	<h3>Get a Quote</h3>

                <form method="post" action="/open-account/step-two">
                <div class="form_inputs">
						<p style="color:#1f1f1f">Get started quickly with simply your name and email address!</p>
						<div class="formRow">
                    	<label>First name</label>
                        <input type="text" name="givenName"  placeholder="First name" onFocus="this.placeholder = ''">
                        <div class="inputLine"></div>
                    </div>
										<div class="formRow">
                    	<label>Last name</label>
                        <input type="text" name="familyName"  placeholder="Last name" onFocus="this.placeholder = ''">
                        <div class="inputLine"></div>
                    </div>
                    <div class="formRow">
                    	<label>Email</label>
                        <input type="email" placeholder="Email" name="email" onFocus="this.placeholder = ''">
                        <div class="inputLine"></div>
                    </div>
                </div>
                <input type="submit" value="Get a quote">
                </form>
            </div>
		</div>
	</div>

	<!--Content Area-->
	<div class="container">
		<div class="content-area">
			<h1>Our Services</h1>
			<div class="column-wrap clearfix">
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon1.svg">
						<h2>Homeowners</h2>
						<p>We specialize in mobile home insurance policies for owners and renters.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon2.svg">
						<h2>Car</h2>
						<p>Your car is safe with us.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon3.svg">
						<h2>Health</h2>
						<p>We offer nearly every type of insurance coverage for your health and peace of mind.</p>
					</div>
				</div>
				<div class="col-3">
					<div class="column-item">
						<img src="/images/insurance_icon4.svg">
						<h2>Life</h2>
						<p>We are always here for you, now and in the future.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
