<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{pageTitle}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#7a6f6f">
<link rel="shortcut icon" href="/f8avicon/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/social.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/overrides.css" rel="stylesheet" type="text/css">
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
</head>
<body class="insurance-page gary-bg">
  <div class="overlay-background">
      <div class="overlay-content login-wrap">
          <div class="overlay-logo">
          	<a href="/"><img src="/images/insurance_logo.svg"></a>
          </div>
          <h1>{{title}}</h1>
          <p>{{message}}</p>
          <span style="width:100%">
            <a href="/login" class="login-btn" style="color:#fff !important;margin:auto;display: inline-block;">{{button}}</a>
          </span>
          <div class="formRow-bottom clearfix">
          <p>New to TrustMeInsurance?  <a href="/open-account" class="blue" id="open-new-account-link">Open an Account</a></p>
  			</div>
      </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.2/jquery.min.js"></script>
  <script src="/javascripts/init.js"></script>
  <!--Footer-->
  <div class="footer">
    <div class="container">
      TrustMeInsurance is a demonstration application with no affiliation to any existing organization. This application is for demonstration purposes only.
    </div>
  </div>
  </body>
  </html>
