    <div class="overlay-background">

      <div class="overlay-content login-wrap">

          <div class="overlay-logo">
          	<a href="/"><img src="/images/insurance_logo.svg"></a>
          </div>

          <h1>Welcome to <br> Internet Insurance!</h1>

          <form action="insurance-dashboard.html" method="post">

  			<div class="formRow">
  				<label>Email</label>
  				<input type="email" placeholder="Email" onFocus="this.placeholder = ''">
  				<div class="inputLine"></div>
  			</div>

  			<div class="formRow">
  				<label>Password</label>
  				<input type="password" placeholder="Password" onFocus="this.placeholder = ''">
                  <div class="show-password"></div>
  				<div class="inputLine"></div>
  			</div>

  			<div class="formRow-bottom clearfix">
  				<div class="col">
  					<input type="checkbox" id="remember">
  					<label for="remember">Remember me</label>
  				</div>

  				<div class="col">
  					<a href="/app/forgot-password">Forgot username?</a><br>
            <a href="/app/forgot-username">Forgot password?</a>
  				</div>

  				<div class="clear"></div>


  				<input class="input-cta" type="submit" value="Login">
  				<p>New to TrustMeInsurance?  <a href="/open-account" class="blue" id="open-new-account-link">Open an Account</a></p>

  			</div>

          </form>

      </div>

    </div>
