	<!--Banner-->
	<div class="banner blue-bg account-banner">
		<div class="container">
			<div class="banner-caption">
				<h1>Manage Drivers</h1>
                <br>
				<a href="#" class="light-blue">+ Add New Drivers</a>
			</div>
		</div>
	</div>

    <!--Content Area-->
	<div class="container">
		<div class="content-area">

			<div class="right-container no-padding">

                <div class="right-content-head">
                	<h2>Auto / Drivers</h2>
                </div>

                <div class="right-content">

                    <div class="list-row">
                    	<div class="list-row-icon"><img src="/images/payee-user.svg" alt=""></div>
                        <div class="list-row-content">
                        	<h3>David Tal</h3>
                            <span class="sub-title">Age 48</span>
                        </div>
                        <div class="list-row-tool">
                        	<a href="" class="tool-icon"><img src="/images/payeee-edit.svg" alt="edit"></a>
                            <a href="" class="tool-icon"><img src="/images/payee-trash.svg" alt="edit"></a>
                        </div>
                    </div>

                    <div class="list-row">
                    	<div class="list-row-icon"><img src="/images/payee-user.svg" alt=""></div>
                        <div class="list-row-content">
                        	<h3>Jerry Tal</h3>
                            <span class="sub-title">Age 18</span>
                        </div>
                        <div class="list-row-tool">
                        	<a href="" class="tool-icon"><img src="/images/payeee-edit.svg" alt="edit"></a>
                            <a href="" class="tool-icon"><img src="/images/payee-trash.svg" alt="edit"></a>
                        </div>
                    </div>


                    <div class="list-row">
                    	<div class="list-row-icon"><img src="/images/payee-user.svg" alt=""></div>
                        <div class="list-row-content">
                        	<h3>Jenny Tal</h3>
                            <span class="sub-title">Age 16</span>
                        </div>
                        <div class="list-row-tool">
                        	<a href="" class="tool-icon"><img src="/images/payeee-edit.svg" alt="edit"></a>
                            <a href="" class="tool-icon"><img src="/images/payee-trash.svg" alt="edit"></a>
                        </div>
                    </div>



                </div>


                <div class="right-content-footer">
                	 <a href="/app/dashboard" class="cta-btn">Cancel</a>
                   <a href="/app/dashboard" class="cta-btn blue-bg">Save</a>
                </div>


			</div>

		</div>
	</div>
