	<!--Banner-->
	<div class="banner blue-bg">
		<div class="container">
			<div class="banner-caption">

			</div>
		</div>
	</div>

    <!--Content Area-->
	<div class="container">
		<div class="content-area">

			<div class="account-container">

				<div class="header-content-row dark-gary-bg">
					<div class="icon-box"><img src="/images/failed.svg"></div>
				</div>

				<div class="account-content">
					<h1 class="error-h1">Server connection error <br> Try again later</h1>
					<a href="/" class="cta-btn">Back to Home</a>
				</div>


			</div>

		</div>
	</div>
