	<!--Banner-->
	<div class="banner blue-bg">
		<div class="container">
			<div class="banner-caption">

			</div>
		</div>
	</div>

    <!--Content Area-->
	<div class="container">
		<div class="content-area">

			<div class="account-container">

				<div class="header-content-row">
					<div class="icon-box"><img src="/images/account-success.svg"></div>
				</div>

				<div class="account-content">
					<h1>Congratulations <br> Your quote is ready and account is setup.</h1>
					<a href="{{profileLink}}" class="cta-btn">Access your profile</a>

					<pre><code class="json" style="text-align:left !important;">{{formSubmission}}</code></pre>
				</div>
			</div>

		</div>
	</div>
