<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<title>Mens Biscayne Wood Khaki Wood Dial</title>

</head>

<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    <div class="sa_header-wrap">
    	<div class="sa_wrapper clearfix">
        	
            <!--logo-->
        		<div class="sa_logo"><a href="ecommerce-home.html"><img src="../../images/logo-shop.svg" alt=""></a></div>
            <!--logo-->
            
            <!--mobile-nav-->
            	<div class="sa_mobile-nav">
                	<span></span>
                    <span></span>
                    <span></span>
                </div>
            <!--mobile-nav-->
            
            <div class="sa_header-main">
            
            <!--header-right-->
            	<div class="sa_header-right">
                	<!--header-nav-->
                    <div class="sa_header-nav">
                    	<ul>
                            <li><a href="">Men</a></li>
                            <li><a href="">Kids</a></li>
                        </ul>
                    </div>
                    <!--header-nav-->
                
                	<div class="sa_header-tool">
                    	<a href=""><img src="../../images/top-icon1.svg" alt=""></a>
                        <a href=""><img src="../../images/top-icon2.svg" alt=""></a>
                        <a href=""><img src="../../images/top-icon3.svg" alt=""></a>
                    </div>
                </div>
            <!--header-right-->
            
            <!--search-box-->
            	<div class="sa_search-box">
                	<form action="" method="post">
                    	<input type="text" onfocus="this.placeholder=''" placeholder="Search for item, brand, inspiration…">
                        <button type="submit"><img src="../../images/search.svg" alt=""></button>
                    </form>
                </div>
            <!--search-box-->
            
            </div>
            
        </div>
    </div>
    <!--header-wrap-->
    
   <!--container-wrap--> 
   <div class="sa_container-wrap">
   	
    <!--section-product-details-->
   		<div class="sa_section-product-details">
        	<div class="sa_wrapper clearfix">
            	
                <div class="sa_breadcrumb-nav clearfix">
                	<ul>
                    	<li><a href="ecommerce-home.html">Home</a></li>
                        <li><a href="">Men</a></li>
                        <li>Mens Biscayne Wood Khaki Wood Dial</li>
                    </ul>
                </div>
                
                <!--product-gallery-->
                    <div class="sa_product-gallery">
                    	<div class="sa_product-large">
                        	<img src="../../images/product-large.png" alt="">
                        </div>
                        <div class="sa_product-thumb clearfix">
                        	<div class="sa_thumb-col sa_active"><img src="../../images/product-large.png" alt=""></div>
                        	<div class="sa_thumb-col"><img src="../../images/product-thumb1.png" alt=""></div>
                            <div class="sa_thumb-col"><img src="../../images/product-thumb2.png" alt=""></div>
                        </div>    
                    </div>
                <!--product-gallery-->
                
                <!--product-details-->
                	<div class="sa_product-details">
                    	<h1>Mens Biscayne Wood Khaki Wood Dial</h1>
                        <div class="sa_price">32.96 USD</div>
                        <div class="sa_quantity fl">
                        	<label>Quantity</label>
                        	<select>
                            	<option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                        
                        <input onclick="window.location='ecommerce-cart.html';" type="submit" value="Buy Now" class="sa_cta-btn fl">
                        
                        <div class="clear"></div>
                        
                        <div class="sa_product-desc">
                        	<p>Usually Ships In 1 - 3 Business Days</p>
                            <ul>
                                <li>30 Day Return Policy</li>
                                <li>Free Shipping Over $100</li>
                                <li>100 % Authentic</li>
                                <li>Warranty Coverage Chart</li>
                            </ul>
                        </div>
                        
                    </div>
                <!--product-details-->
                
            </div>
        </div>
   	<!--section-product-details-->
    
   	<!--section-row-->
    <div class="sa_section-row">
    	<div class="sa_wrapper clearfix">
        	
            <!--section-row-header-->
            <div class="sa_section-row-header">
            	<h2>You Might Also Like</h2>
            </div>
            <!--section-row-header-->
            
            <div class="sa_section-row-content clearfix">
            	
                <div class="sa_product-row">
                
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="ecommerce-product-details.html">
                                <figure><img src="../../images/product4.png" alt=""></figure>
                                <div class="sa_product-label">Unisex Branch Olive Wood Olive Dial </div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="ecommerce-product-details.html">
                                <figure><img src="../../images/product5.png" alt=""></figure>
                                <div class="sa_product-label">Unisex Branch Olive Wood Olive Dial </div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="ecommerce-product-details.html">
                                <figure><img src="../../images/product6.png" alt=""></figure>
                                <div class="sa_product-label">Unisex Branch Olive Wood Olive Dial </div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="ecommerce-product-details.html">
                                <figure><img src="../../images/product7.png" alt=""></figure>
                                <div class="sa_product-label">Unisex Branch Olive Wood Olive Dial </div>
                            </a>
                        </div>
                    <!--product-col-->
                
                </div>
                
            </div>
            
        </div>
    </div>
    <!--section-row-->	
   
   </div> 
   <!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap">
        	<div class="sa_wrapper clearfix">
            
            	<!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>HELP & INFORMATION</h6>
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a href="">Track Order</a></li>
                            <li><a href="">Delivery & Returns</a></li>
                            <li><a href="">10% Student Discount</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>MORE FROM US</h6>
                        <ul>
                            <li><a href="">Gift vouchers</a></li>
                            <li><a href="">Mobile Apps</a></li>
                            <li><a href="">Our Marketplace</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>SHOPPING FROM</h6>
                        <form action="" method="post"> 
							
                            <!--shop-location-->                        	
                            	<div class="sa_shop-location">
                                	<label>You're in</label>
                                    <select>
                                    	<option>Israel</option>
                                        <option>Brazil</option>
                                        <option>Chile</option>
                                    </select>
                                </div>
                            <!--shop-location-->
                                                  
                            <!--search-box-->
                                <div class="sa_search-box">                                    
                                    <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
                                    <button type="submit"><img src="../../images/search.svg" alt=""></button>
                                </div>
                            <!--search-box-->
                       </form> 
                    </div>
                <!--footer-widget-->
                
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>
    <script src="../../../internal/js/color-shield-error.js"></script>
    
</body>
</html>
