<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<title>Payment Success - TrustMeShop</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    
        <div class="sa_header-wrap">
            <div class="sa_wrapper clearfix">
                <!--logo-->
                    <div class="sa_logo"><a href="ecommerce-home.html"><img src="../../images/logo-shop.svg" alt=""></a></div>
                <!--logo-->
             </div>
        </div>
        
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
            <div class="account-container" style="margin-top:0;">
				
				<div class="header-content-row">
					<div class="icon-box"><img src="../../images/account-success.svg"></div>
				</div>

				<div class="account-content">
					<h2>Payment Success! <br> We have emailed you the receipt </h2>
                    
				</div>	


			</div>
			
            
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap">
        	<div class="sa_wrapper clearfix">
            
            	<!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>HELP & INFORMATION</h6>
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a href="">Track Order</a></li>
                            <li><a href="">Delivery & Returns</a></li>
                            <li><a href="">10% Student Discount</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>MORE FROM US</h6>
                        <ul>
                            <li><a href="">Gift vouchers</a></li>
                            <li><a href="">Mobile Apps</a></li>
                            <li><a href="">Our Marketplace</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>SHOPPING FROM</h6>
                        <form action="" method="post"> 
							
                            <!--shop-location-->                        	
                            	<div class="sa_shop-location">
                                	<label>You're in</label>
                                    <select>
                                    	<option>Israel</option>
                                        <option>Brazil</option>
                                        <option>Chile</option>
                                    </select>
                                </div>
                            <!--shop-location-->
                                                  
                            <!--search-box-->
                                <div class="sa_search-box">                                    
                                    <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
                                    <button type="submit"><img src="../../images/search.svg" alt=""></button>
                                </div>
                            <!--search-box-->
                       </form> 
                    </div>
                <!--footer-widget-->
                
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>
    
</body>
</html>
