<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">

<title>Manage Account - TrustMeShop</title>

</head>
<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    <div class="sa_header-wrap">
    	<div class="sa_wrapper clearfix">
        	
            <!--logo-->
        		<div class="sa_logo"><a href="ecommerce-home.html"><img src="../../images/logo-shop.svg" alt=""></a></div>
            <!--logo-->
            
            <!--mobile-nav-->
            	<div class="sa_mobile-nav">
                	<span></span>
                    <span></span>
                    <span></span>
                </div>
            <!--mobile-nav-->
            
            <div class="sa_header-main">
            
            <!--header-right-->
            	<div class="sa_header-right">
                	<!--header-nav-->
                    <div class="sa_header-nav">
                    	<ul>
                            <li><a href="">Men</a></li>
                            <li><a href="">Kids</a></li>
                        </ul>
                    </div>
                    <!--header-nav-->
                
                	<div class="sa_header-tool">
                    	<a href="ecommerce-account.html"><img src="../../images/top-icon1.svg" alt=""></a>
                        <a href=""><img src="../../images/top-icon2.svg" alt=""></a>
                        <a href="ecommerce-cart.html"><img src="../../images/top-icon3.svg" alt=""></a>
                    </div>
                </div>
            <!--header-right-->
            
            <!--search-box-->
            	<div class="sa_search-box">
                	<form action="" method="post">
                    	<input type="text" onfocus="this.placeholder=''" placeholder="Search for item, brand, inspiration…">
                        <button type="submit"><img src="../../images/search.svg" alt=""></button>
                    </form>
                </div>
            <!--search-box-->
            
            </div>
            
        </div>
    </div>
    <!--header-wrap-->
    
	<!--container-wrap--> 
	<section class="sa_container-wrap sa_blue-head">
		<div class="sa_wrapper clearfix">
			
			<div class="sa_section-title">
				<h1>Account Details</h1>
			</div>
			
			<!--section-account-details-->
			<div class="sa_section-account-details">
            	<form action="#" method="post">
					<div class="sa_input-container">
						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>PERSONAL INFORMATION</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>User Name</label>
								<input type="text" placeholder="" value="David Tal" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Email</label>
								<input type="email" placeholder="" value="davidT@gmail.com" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>First Name</label>
								<input type="text" placeholder="" value="David" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Last Name</label>
								<input type="text" placeholder="" value="David" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Phone</label>
								<input type="tel" placeholder="" value="+972-56781234" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

						</div>

						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>GENERAL</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Address</label>
								<input type="text" placeholder="" value="Coldfields 3874, 36Gg" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>City</label>
								<input type="text" placeholder="" value="New York" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>State</label>
								<input type="text" placeholder="" value="NY" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Country</label>
								<input type="text" placeholder="" value="USA" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

						</div>

						<div class="sa_account-details-box">
							<div class="sa_account-box-head">
								<strong>PAYMENT DETAILS</strong>
								<a href="#"><img src="../../images/pencil.svg" alt="edit"></a>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Credit Card Type</label>
								<input type="text" placeholder="" value="Visa" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>

							<div class="sa_formRow sa_visible">
								<label>Credit Card Number</label>
								<input type="text" placeholder="" value="****6781" onfocus="this.placeholder = ''">
								<div class="sa_inputLine"></div>
							</div>
						</div>
					</div>
					
					<input type="submit" class="sa_cta-btn sa_border sa_odd sa_full" value="New Password">
                
                </form>
			</div>
			<!--section-account-details-->
			
			
		</div>
	</section> 
	<!--container-wrap-->
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap">
        	<div class="sa_wrapper clearfix">
            
            	<!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>HELP & INFORMATION</h6>
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a href="">Track Order</a></li>
                            <li><a href="">Delivery & Returns</a></li>
                            <li><a href="">10% Student Discount</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>MORE FROM US</h6>
                        <ul>
                            <li><a href="">Gift vouchers</a></li>
                            <li><a href="">Mobile Apps</a></li>
                            <li><a href="">Our Marketplace</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>SHOPPING FROM</h6>
                        <form action="" method="post"> 
							
                            <!--shop-location-->                        	
                            	<div class="sa_shop-location">
                                	<label>You're in</label>
                                    <select>
                                    	<option>Israel</option>
                                        <option>Brazil</option>
                                        <option>Chile</option>
                                    </select>
                                </div>
                            <!--shop-location-->
                                                  
                            <!--search-box-->
                                <div class="sa_search-box">                                    
                                    <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
                                    <button type="submit"><img src="../../images/search.svg" alt=""></button>
                                </div>
                            <!--search-box-->
                       </form> 
                    </div>
                <!--footer-widget-->
                
            </div>
        </div>
    <!--footer-wrap-->
    
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/init.js"></script>
    
</body>
</html>
