<!doctype html>
<html>
<head>
<meta charset="utf-8">

<meta name="viewport" content="width=device-width, maximum-scale=1">
<meta name="format-detection" content="telephone=no" />

<link href="../../fonts/fonts.css" type="text/css" rel="stylesheet">
<link href="../../style.css" type="text/css" rel="stylesheet">
<link href="../../css/owl.carousel.css" type="text/css" rel="stylesheet">

<title>TrustMeShop</title>

</head>

<body class="sa_body">

<div class="sa_outer-container">

	<!--header-wrap-->
    <div class="sa_header-wrap">
    	<div class="sa_wrapper clearfix">
        	
            <!--logo-->
        		<div class="sa_logo"><a href="ecommerce-home.html"><img src="../../images/logo-shop.svg" alt=""></a></div>
            <!--logo-->
            
            <!--mobile-nav-->
            	<div class="sa_mobile-nav">
                	<span></span>
                    <span></span>
                    <span></span>
                </div>
            <!--mobile-nav-->
            
            <div class="sa_header-main">
            
            <!--header-right-->
            	<div class="sa_header-right">
                	<!--header-nav-->
                    <div class="sa_header-nav">
                    	<ul>
                        	<li><a href="">Women</a></li>
                            <li><a href="">Men</a></li>
                            <li><a href="">Kids</a></li>
                        </ul>
                    </div>
                    <!--header-nav-->
                	
                    <a href="ecommerce-new-account.html" class="sa_cta-btn sa_border sa_small sa_odd">SignUp</a>
                    <a href="ecommerce-index.html" class="sa_cta-btn sa_small">Login</a>
                    
                	<div class="sa_header-tool" style="display:none;">
                    	<a href=""><img src="../../images/top-icon1.svg" alt=""></a>
                        <a href=""><img src="../../images/top-icon2.svg" alt=""></a>
                        <a href=""><img src="../../images/top-icon3.svg" alt=""></a>
                    </div>
                </div>
            <!--header-right-->
            
            <!--search-box-->
            	<div class="sa_search-box">
                	<form action="" method="post">
                    	<input type="text" onfocus="this.placeholder=''" placeholder="Search for item, brand, inspiration…">
                        <button type="submit"><img src="images/search.svg" alt=""></button>
                    </form>
                </div>
            <!--search-box-->
            
            </div>
            
        </div>
    </div>
    <!--header-wrap-->
    
   <!--banner-wrap--> 
   <div class="sa_banner-wrap">
   		<div class="sa_banner owl-carousel sa_banner-carousel">
        	<div class="sa_slider" style="background-image:url(../../images/slider-pic1.jpg);">
            	
                <div class="sa_wrapper clearfix">
                    <!--slider-content-->
                        <div class="sa_slider-content">
                        	<h1>Winter Sale</h1>
                            <p>UP TO 50% OFF</p>
                            <a href="ecommerce-search-result.html" class="sa_cta-btn sa_border sa_small">Shop Now</a>
                        </div>
                    <!--slider-content-->
                </div>
                
            </div>
            
            <div class="sa_slider" style="background-image:url(../../images/slider-pic1.jpg);">
            	
                <div class="sa_wrapper clearfix">
                    <!--slider-content-->
                        <div class="sa_slider-content">
                        	<h1>Winter Sale</h1>
                            <p>UP TO 50% OFF</p>
                            <a href="ecommerce-search-result.html" class="sa_cta-btn sa_border sa_small">Shop Now</a>
                        </div>
                    <!--slider-content-->
                </div>
                
            </div>
            
            <div class="sa_slider" style="background-image:url(../../images/slider-pic1.jpg);">
            	
                <div class="sa_wrapper clearfix">
                    <!--slider-content-->
                        <div class="sa_slider-content">
                        	<h1>Winter Sale</h1>
                            <p>UP TO 50% OFF</p>
                            <a href="ecommerce-search-result.html" class="sa_cta-btn sa_border sa_small">Shop Now</a>
                        </div>
                    <!--slider-content-->
                </div>
                
            </div>
            
            <div class="sa_slider" style="background-image:url(../../images/slider-pic1.jpg);">
            	
                <div class="sa_wrapper clearfix">
                    <!--slider-content-->
                        <div class="sa_slider-content">
                        	<h1>Winter Sale</h1>
                            <p>UP TO 50% OFF</p>
                            <a href="ecommerce-search-result.html" class="sa_cta-btn sa_border sa_small">Shop Now</a>
                        </div>
                    <!--slider-content-->
                </div>
                
            </div>
            
            
            <div class="sa_slider" style="background-image:url(../../images/slider-pic1.jpg);">
            	
                <div class="sa_wrapper clearfix">
                    <!--slider-content-->
                        <div class="sa_slider-content">
                        	<h1>Winter Sale</h1>
                            <p>UP TO 50% OFF</p>
                            <a href="ecommerce-search-result.html" class="sa_cta-btn sa_border sa_small">Shop Now</a>
                        </div>
                    <!--slider-content-->
                </div>
                
            </div>
        </div>
   </div>
   
    
   <!--container-wrap--> 
   <div class="sa_container-wrap">
   
   
   <!--section-row-->
    <div class="sa_section-row">
    	<div class="sa_wrapper clearfix">
        	
            <!--section-row-header-->
            <div class="sa_section-row-header">
            	<h2>Products On Sale</h2>
            </div>
            <!--section-row-header-->
            
            <div class="sa_section-row-content clearfix">
            	
                <div class="sa_product-row">
                
                   <div class="sa_product-col sa_large">
                   		<figure><img src="../../images/product1.png" alt=""></figure>
                        <div class="sa_product-label">Men's Black Collection Leather Black Dial</div>
                        <div class="sa_product-col-table">
                            <div class="sa_table-col"><strong>Sale Price:</strong></div>
                            <div class="sa_table-col"><strong class="sa_price">$159.25</strong></div>
                            <div class="sa_table-col">List Price:</div>
                            <div class="sa_table-col"><span class="sa_line-through">$245.00</span></div>
                            <div class="sa_table-col">Savings:</div>
                            <div class="sa_table-col">35%</div>
                        </div>
                        <div class="sa_product-col-bottom">
                        	<div class="sa_product-social">
                            	<a href=""><img src="../../images/heart.svg" alt=""></a>
                                <a href=""><img src="../../images/graph.svg" alt=""></a>
                            </div>
                            <a href="#" class="sa_cta-btn sa_small">Add to Cart</a>
                        </div>
                   </div> 
                   
                   <div class="sa_product-col sa_large">
                   		<figure><img src="../../images/product2.png" alt=""></figure>
                        <div class="sa_product-label">Men's Metal Collection Leather Silver Dial</div>
                        <div class="sa_product-col-table">
                            <div class="sa_table-col"><strong>Sale Price:</strong></div>
                            <div class="sa_table-col"><strong class="sa_price">$348.04</strong></div>
                            <div class="sa_table-col">List Price:</div>
                            <div class="sa_table-col"><span class="sa_line-through">$452.00</span></div>
                            <div class="sa_table-col">Savings:</div>
                            <div class="sa_table-col">23%</div>
                        </div>
                        <div class="sa_product-col-bottom">
                        	<div class="sa_product-social">
                            	<a href=""><img src="../../images/heart.svg" alt=""></a>
                                <a href=""><img src="../../images/graph.svg" alt=""></a>
                            </div>
                            <a href="#" class="sa_cta-btn sa_small">Add to Cart</a>
                        </div>
                   </div>
                   
                   <div class="sa_product-col sa_large">
                   		<figure><img src="../../images/product3.png" alt=""></figure>
                        <div class="sa_product-label">Men's Master Collection Leather Blue Dial</div>
                        <div class="sa_product-col-table">
                            <div class="sa_table-col"><strong>Sale Price:</strong></div>
                            <div class="sa_table-col"><strong class="sa_price">$359.60</strong></div>
                            <div class="sa_table-col">List Price:</div>
                            <div class="sa_table-col"><span class="sa_line-through">$580.00</span></div>
                            <div class="sa_table-col">Savings:</div>
                            <div class="sa_table-col">38%%</div>
                        </div>
                        <div class="sa_product-col-bottom">
                        	<div class="sa_product-social">
                            	<a href=""><img src="../../images/heart.svg" alt=""></a>
                                <a href=""><img src="../../images/graph.svg" alt=""></a>
                            </div>
                            <a href="#" class="sa_cta-btn sa_small">Add to Cart</a>
                        </div>
                   </div>
                
                </div>
                
            </div>
            
        </div>
    </div>
    <!--section-row-->
   
   	
    
    
   	<!--section-row-->
    <div class="sa_section-row">
    	<div class="sa_wrapper clearfix">
        	
            <!--section-row-header-->
            <div class="sa_section-row-header">
            	<h2>Categories</h2>
            </div>
            <!--section-row-header-->
            
            <div class="sa_section-row-content clearfix">
            	
                <div class="sa_product-row">
                
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="#">
                                <figure><img src="../../images/category1.png" alt=""></figure>
                                <div class="sa_product-label">Pocket Watch</div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="#">
                                <figure><img src="../../images/category2.png" alt=""></figure>
                                <div class="sa_product-label">Digital Watch</div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="#">
                                <figure><img src="../../images/category3.png" alt=""></figure>
                                <div class="sa_product-label">Sport Watch</div>
                            </a>
                        </div>
                    <!--product-col-->
                    
                    <!--product-col-->
                        <div class="sa_product-col">
                            <a href="#">
                                <figure><img src="../../images/category4.png" alt=""></figure>
                                <div class="sa_product-label">Divers Watch</div>
                            </a>
                        </div>
                    <!--product-col-->
                
                </div>
                
            </div>
            
        </div>
    </div>
    <!--section-row-->	
   
   </div> 
   <!--container-wrap-->
    
    
    
    <!--footer-wrap-->
    	<div class="sa_footer-wrap">
        	<div class="sa_wrapper clearfix">
            
            	<!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>HELP & INFORMATION</h6>
                        <ul>
                            <li><a href="">Help</a></li>
                            <li><a href="">Track Order</a></li>
                            <li><a href="">Delivery & Returns</a></li>
                            <li><a href="">10% Student Discount</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>MORE FROM US</h6>
                        <ul>
                            <li><a href="">Gift vouchers</a></li>
                            <li><a href="">Mobile Apps</a></li>
                            <li><a href="">Our Marketplace</a></li>
                        </ul>
                    </div>
                <!--footer-widget-->
                
                
                
                <!--footer-widget-->
            		<div class="sa_footer-widget">
                    	<h6>SHOPPING FROM</h6>
                        <form action="" method="post"> 
							
                            <!--shop-location-->                        	
                            	<div class="sa_shop-location">
                                	<label>You're in</label>
                                    <select>
                                    	<option>Israel</option>
                                        <option>Brazil</option>
                                        <option>Chile</option>
                                    </select>
                                </div>
                            <!--shop-location-->
                                                  
                            <!--search-box-->
                                <div class="sa_search-box">                                    
                                    <input type="text" onfocus="this.placeholder=''" placeholder="Search…">
                                    <button type="submit"><img src="../../images/search.svg" alt=""></button>
                                </div>
                            <!--search-box-->
                       </form> 
                    </div>
                <!--footer-widget-->
                
            </div>
        </div>
    <!--footer-wrap-->
    
    <a href="../security-assessment.html" class="shield" id = "Shield">
    	<img src="../../images/shield.png">
    </a>
    
</div>    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/init.js"></script>
    
</body>
</html>
